@CHARSET "UTF-8";#header_top,#header_body,#header_navi{clear:both}#header_top
div{float:left;height:28px;background-repeat:no-repeat}#header_top
.left_bar{width:5px;background-image:url(../images/left_bar_1.png)}#header_top
.center_bar{position:relative;width:960px;font-family:tahoma;font-size:12px;vertical-align:middle;background-image:url(../images/center_bar_1.png);background-repeat:repeat-x;line-height:28px;height:28px;z-index:10}#header_top .center_bar
a{display:inline-block;height:16px;line-height:16px;margin-right:5px;border:1px
solid #ddd;background-color:#eee;padding:1px
5px 1px 5px}#header_top
.right_bar{width:5px;background-image:url(../images/right_bar_1.png)}#header_top
input.text{width:50px;height:16px;margin-right:5px;border-left:1px solid #999;border-top:1px solid #999;border-right:1px solid #c9c9c9;border-bottom:1px solid #c9c9c9;background-color:#fff;background-image:url(../images/inputbg.gif);background-repeat:no-repeat;font-family:Tahoma,Helvetica,sans-serif;color:#666;font-size:11px}#header_top
input.error{border:1px
solid red}#header_top
span.button{display:inline-block;padding:1px
5px 1px 5px;cursor:pointer;background-color:#eee;border:1px
solid #ddd;margin-right:5px;height:16px;line-height:16px}div.center_bar div.left,div.center_bar div.center, div.center_bar
div.right{position:absolute;top:2px;height:20px;line-height:20px;vertical-align:middle}div.center_bar
div.left{left:20px;width:120px}div.center_bar
div.center{left:150px;width:80px}div.center_bar
div.right{right:20px}div.center_bar div.center label.channel_show, div.center_bar div.center
label.channel_hide{cursor:pointer;background-image:url(../images/menu_down.jpg);background-position:right center;background-repeat:no-repeat;padding-right:14px}#header_top  div.center label.channel_navi
a{display:block;border-top:none;background-color:#06C;color:#fff}#header_top  div.center label.channel_navi a:hover{background-color:#F93;color:#333}div.center_bar div.center
label.channel_hide{background-image:url(../images/menu_up.jpg)}#unlogged_state,#logged_state{display:none}#chkimg{position:absolute;display:none;width:68px;height:21px;border:1px
solid #555;z-index:10}div#header_body
.header_divs{float:left;margin-top:10px;margin-bottom:10px}#header_body div#logo
a{display:block;width:229px;height:65px;overflow:hidden;background-image:url(../images/logo.gif);background-repeat:no-repeat;text-indent:-200px}div#header_body
.header_aid{float:right;margin:10px
auto;width:720px;overflow:hidden}div#header_body .header_aid
.ads_horizonal{float:right}div#header_body .header_aid
.ads_wrapper{float:right}div#header_navi
li{float:left}#header_navi
.navi{position:relative;width:970px;height:47px}#header_navi .navi
li{position:absolute;height:47px}#header_navi .navi
li.left{left:0px;width:12px;background-image:url(../images/main_navi_bg.gif);background-position:0px -47px}#header_navi .navi
li.right{right:0px;width:12px;background-image:url(../images/main_navi_bg.gif);background-position:-12px -47px}#header_navi .navi
li.center{left:12px;width:954px;background-image:url(../images/main_navi_bg.gif);background-position:left top;background-repeat:repeat-x}#header_navi .navi .center
a{display:inline-block;height:47px;line-height:47px;padding:0
8px 0 10px;background-image:url(../images/main_navi_bg.gif);background-position:0px -94px;background-repeat:no-repeat;font-size:15px;font-weight:bold;color:#fff}#header_navi .navi .center
a.first{background-image:none}#header_navi
.navi_bottom{position:relative;height:37px;width:100%;overflow:hidden}#header_navi .navi_bottom
div{position:absolute;height:37px}.navi_bottom
.left_bar{left:0px;width:3px;background-image:url(../images/main_navi_bg.gif);background-position:0px -141px}.navi_bottom
.right_bar{right:0px;width:3px;background-image:url(../images/main_navi_bg.gif);background-position:-3px -141px}.navi_bottom
.navi_bottom_div{position:absolute;height:37px;left:3px;right:3px;width:904px;line-height:37px;background-image:url(../images/main_navi_bg.gif);background-position:0px -178px;padding-left:60px}.navi_bottom_link
li{height:37px;line-height:37px}.navi_bottom_link
li.inter{width:15px;height:37px;line-height:37px;background-image:url(../images/inter_bar.gif);background-position:center;background-repeat:no-repeat}.navi_bottom_link
a{display:block;_display:inline-block;height:37px;line-height:37px}@CHARSET "UTF-8";#cms_black{position:relative;color:#767676;background-color:#1c1c1d}#cms_black .infors span,#cms_black .entry_parameters
span{margin-right:5px;color:#999}#cms_black
.entry_use{text-align:right;margin:15px}#cms_black .entry_use
span{margin-right:5px;cursor:pointer}#cms_black
.title{font-size:22px;line-height:46px;text-align:left;font-weight:bold;color:#ececec}#cms_black
.infors{position:absolute;right:20px;top:20px;line-height:34px;text-align:center;line-height:34px}#cms_black
.content{text-align:left;padding:15px;font-size:14px;line-height:22px}.content
*{vertical-align:baseline}.content
table{border-color:#efefef}.content
td{padding:5px;text-align:left}#cms_black .relate_list,#cms_black
.entry_parameters{text-align:left;margin:15px}.relate_list
.heading{font-size:15px;font-weight:bold;line-height:25px;height:25px}#cms_black
span.line{display:block;clear:both;margin-right:2px;margin-left:2px;height:17px;border:none;margin:0px;background-color:transparent;background-image:url(../images/album_line.png);background-repeat:repeat-x;background-position:left center}.relate_list
li{float:left;height:20px;line-height:20px;margin-right:5px}.relate_list
.list_body{clear:both;height:66px}.relate_list
.list_body_ajax{background-image:url(../images/img_loader.gif);background-repeat:no-repeat;background-position:left center;padding-left:20px;height:20px}.relate_list
.no_list{height:20px}.relate_list .list_body li
a{border:3px
solid #eee;display:inline-block;width:70px;height:60px;line-height:60px;overflow:hidden;background-image:url(../images/img_loader.gif);background-repeat:no-repeat;background-position:center}.page_navigation
a{display:inline-block;padding-left:3px;padding-right:3px;height:18px;font-size:13px;font-weight:bold;line-height:18px;border:1px
solid #666;margin-right:5px;text-align:center}.page_navigation
a.current{background-color:#666;color:#fff}.page_navigation a:hover{background-color:#666;color:#fff}#cms_black
.video_html{text-align:center;padding:10px}#cms_black
.album{clear:both;position:relative;text-align:center;padding:10px;width:928px}#cms_black .album
.image_loader{position:absolute;height:450px;width:928px;background-image:url(../images/cool_loader.gif);background-position:center;background-repeat:no-repeat;z-index:1}#cms_black .album
.image{position:relative;z-index:2;height:450px;background-position:center;background-repeat:no-repeat;text-align:center}#fullsize_icon{position:absolute;top:10px;left:20px;display:block;width:24px;height:22px;background-image:url(../images/fullsize_icon.gif);cursor:pointer}.album .left,.album
.right{position:absolute;width:50%;bottom:0px;height:450px;top:0px;z-index:10;background:transparent}.album
.left{left:0px;cursor:url(../images/cursor_left.cur),auto}.album
.right{right:0px;cursor:url(../images/cursor_right.cur),auto}.photo_title{display:block;text-align:center;padding:10px}.entry_use
hr{height:1px;border:none;border-top:1px solid #555;margin-bottom:5px}.fullsize_pannel{position:absolute;display:none;top:150px;z-index:1001;background-color:#fff;border:1px
solid #bbb;padding:10px;padding-top:35px}.fullsize_pannel
.close{position:absolute;z-index:1002;top:6px;right:6px;width:23px;height:23px;background-image:url(../images/close_icon.gif);cursor:pointer}@CHARSET "UTF-8";hr.comment_hr{height:1px;border:none;border-top:1px dashed #dedede;margin-bottom:5px}.comment_heading{font-size:15px;font-weight:bold;line-height:25px;height:25px}.comment_form,.comment_list{position:relative;text-align:left;margin:15px}.textarea_div{width:450px;height:140px;position:relative;margin-bottom:10px;margin-top:10px}.post_state{position:absolute;width:180px;height:140px;top:10px;right:-200px;line-height:20px;font-size:12px;color:#999;overflow:hidden}.textarea_bg{position:absolute;width:450px;height:140px;background-image:url(../images/comment_bg.jpg);background-repeat:no-repeat;background-position:center;filter:alpha(opacity =  45);-moz-opacity:0.45;opacity:0.45}#comment_content{position:absolute;top:0px;left:0px;width:450px;height:140px;padding:2px;border:1px
solid #ddd;font-size:12px;font-family:Helvetica;background:transparent}.button_div
.button{display:inline-block;background-image:url(../images/reg_log_bg.png);background-repeat:no-repeat;background-position:0px -405px;color:#fff;font-size:14px;height:38px;line-height:38px;width:116px;font-weight:bold;cursor:pointer;text-align:center}.button_div
input.text{border:none;border:1px
solid #ddd;height:30px;line-height:30px;padding-left:2px;width:80px;font:14px "Tahoma","Helvetica","Arial",sans-serif;_font-weight:bold;_font-size:14px;_height:25px;_line-height:25px}.button_div
input.error{border-color:red}.comment_list_body{margin:10px}.comment_list
.pagination{position:absolute;top:-25px;right:20px;margin-top:20px;margin-left:50px}.comment_entry{padding-top:6px;padding-right:20px;padding-left:10px;border-bottom:1px dotted #afafb0;_border:1px
dotted #afafb0;_margin-bottom:10px}.comment_entry .entry_title
span{margin-right:10px}.comment_entry
.reply_comment{cursor:pointer;text-decoration:underline;color:#999}.comment_entry
.entry_body{font-size:14px;padding-top:12px;padding-bottom:12px;padding-left:6px;line-height:20px}.comment_parent{margin:10px;border:1px
solid #afafb0;padding:10px;background-color:#efefef}#comment_captcha_img{cursor:pointer}.captcha_div{position:relative;display:inline-block;width:90px;margin-right:30px}@CHARSET "UTF-8";.footer_navi{position:relative;text-align:center;height:30px;line-height:30px;vertical-align:middle;background-color:#5AA8FD;color:#fff;font-size:12px;font-family:tahoma}.footer_navi a , .footer_navi
span{display:inline-block;color:#fff;line-height:30px;height:30px;margin-bottom:5px;_margin-bottom:0px;vertical-align:middle}.footer_text{clear:both;padding:10px;text-align:center;background-color:#DDE6F0}.footer_text
div{margin-bottom:5px}.footer_text div
span{margin-right:5px}